.map-chart-option-container {
  .chart-option {
    margin-left: 8px;
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  .selected {
    &.temp {
      color: #31a354;
    }

    &.rn1 {
      color: #3182bd;
    }

    &.reh {
      color: #636363;
    }
  }
}
