$gap: 20px;
$height: 230px;

.main-container {
  overflow: auto;
  height: 100vh;
  padding: 20px 80px 60px;
  background-color: #f7f7f7;

  .main-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    margin-bottom: $gap;
  }

  .main-content {
    height: 730px;

    .main-map-chart {
      float: left;
      width: calc(60% - #{$gap});
      height: 480px;
      margin: 0;
    }

    .main-climates {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      float: right;
      width: 40%;
      height: 100%;
    }

    .main-global-temp {
      float: left;
      width: calc(60% - #{$gap});
      height: 230px;
      margin-top: $gap;
    }
  }

  @media (max-width: 900px) {
    padding: $gap;

    .main-header {
      height: unset;
      margin-bottom: $gap;
    }

    .main-content {
      height: unset;

      .main-map-chart {
        width: 100%;
        height: 480px;
        margin-bottom: $gap;
      }

      .main-global-temp {
        width: 100%;
        height: 230px;
        margin-bottom: $gap;
      }

      .main-climates {
        width: 100%;
        height: 730px;
      }
    }
  }
}
