.status-container {
  position: relative;
  width: 160px;
  height: 105px;
  padding: 10px 0 0 20px;
  color: #73879c;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 65px;
    margin: 10px 0;
    border-left: 2px solid #adb2b5;
  }

  .status-title {
    font-size: 14px;
    margin: 0 0 8px 0;
  }

  .status-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 36px;
    margin: 0 0 5px 0;
    font-weight: bold;

    .status-content-value {
      font-size: 28px;
    }

    .status-content-unit {
      margin-top: 8px;
      margin-left: 10px;
      font-size: 20px;
    }
  }

  .status-content-sub-value {
    font-size: 14px;
    font-weight: bold;
  }

  @media (max-width: 900px) {
    width: 100px;
    height: 80px;

    &::before {
      content: "";
      height: 45px;
    }

    .status-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status-content {
      .status-content-value {
        font-size: 22px;
        font-weight: normal;
      }

      .status-content-unit {
        font-size: 14px;
      }
    }

    .status-content-sub-value {
      display: none;
    }
  }
}
