/*
  https://css-tricks.com/box-sizing/
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@import "theme";

$gap: 20px;
$height: 230px;

.app-container {
  overflow: auto;
  height: 100vh;
  padding: 40px 80px 60px;
  background-color: #f7f7f7;

  .app-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
    margin-bottom: 30px;
  }

  .app-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 730px;

    .app-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: calc(60% - #{$gap});
      height: 100%;
    }

    .app-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40%;
      height: 100%;
    }
  }
}
